<% if @error.kind_of? String %>
  <p><%= @error %></p>
<% elsif @error.kind_of?(Shipwire::Response) && @error.has_validation_errors? %>
  <p>Validation error</p>
  <ul>
    <% if @error.validation_errors.kind_of? Array %>
      <% @error.validation_errors.each do |value| %>
        <li><%= value['message'] %></li>
      <% end %>
    <% else %>
      <% @error.validation_errors.each do |key, value| %>
       <% value['message'].each do |_k, message| %>
          <li><%= key %> - <%= message.values.join(',') %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
