---
http_interactions:
- request:
    method: put
    uri: https://api.beta.shipwire.com/api/v3/orders/
    body:
      encoding: UTF-8
      string: '{"orderId":1,"orderNo":"R568790209","options":{"currency":"USD","canSplit":1,"hold":0,"server":"Production"},"items":[],"shipTo":{"name":"John
        Doe","company":"Company","address1":"10 Lovely Street","address2":"Northwest","city":"Herndon","state":null,"postalCode":"13547-1343","country":"US","phone":"555-555-0199","email":"spree@example.com"}}'
    headers:
      Authorization:
      - "<Authorization Code>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Bad request"}'
  recorded_at: Tue, 31 Jan 2017 15:32:28 GMT
[...]
- request:
    method: put
    uri: https://api.beta.shipwire.com/api/v3/orders/
    body:
      encoding: UTF-8
      string: '{"orderId":1,"orderNo":"R568790209","options":{"currency":"USD","canSplit":1,"hold":0,"server":"Production"},"items":[],"shipTo":{"name":"John
        Doe","company":"Company","address1":"10 Lovely Street","address2":"Northwest","city":"Herndon","state":null,"postalCode":"13547-1343","country":"US","phone":"555-555-0199","email":"spree@example.com"}}'
    headers:
      Authorization:
      - "<Authorization Code>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Bad request"}'
  recorded_at: Tue, 31 Jan 2017 15:32:29 GMT
recorded_with: VCR 3.0.3
