---
http_interactions:
- request:
    method: get
    uri: https://api.beta.shipwire.com/api/v3/orders/92297445
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.143519'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445","resource":{"externalId":null,"orderNo":"R912951496","commerceName":"Shipwire","processAfterDate":"2017-01-31T13:30:00-08:00","lastUpdatedDate":"2017-01-30T08:55:38-08:00","status":"held","vendorId":null,"vendorExternalId":null,"purchaseOrderId":null,"purchaseOrderExternalId":null,"purchaseOrderNo":null,"id":92297445,"transactionId":"1485515242-405242-1","needsReview":0,"vendorName":null,"holds":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/holds?offset=0&limit=20"},"items":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/items?offset=0&limit=20"},"trackings":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/trackings?offset=0&limit=20"},"returns":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/returns?offset=0&limit=20"},"options":{"resourceLocation":null,"resource":{"warehouseId":null,"warehouseExternalId":null,"warehouseRegion":null,"warehouseArea":null,"serviceLevelCode":null,"carrierCode":"USPS
        PMFPE","thirdPartyCarrierCodeRequested":null,"billingType":null,"carrierAccountNumber":null,"sameDay":"NOT
        REQUESTED","forceDuplicate":0,"forceAddress":0,"testOrder":0,"channelName":null,"referrer":""}},"shipFrom":{"resourceLocation":null,"resource":{"company":"Fulfillment
        Center"}},"shipTo":{"resourceLocation":null,"resource":{"email":"keaton@mraz.ca","name":"John
        Doe","company":"Company","address1":"A Different Road","address2":"Northwest","address3":"","city":"Herndon","state":"TX","postalCode":"77488","country":"US","phone":"123123123","isCommercial":0,"isPoBox":0}},"commercialInvoice":{"resourceLocation":null},"packingList":{"resourceLocation":null},"shippingLabel":{"resourceLocation":null},"routing":{"resourceLocation":null,"resource":{"warehouseId":12,"warehouseExternalId":null,"warehouseName":"Philadelphia","physicalWarehouseId":12,"originLongitude":40.06,"originLatitude":-76.41,"destinationLongitude":"-96.0858","destinationLatitude":"29.3205"}},"events":{"resourceLocation":null,"resource":{"createdDate":"2017-01-27T03:07:22-08:00","pickedUpDate":null,"submittedDate":null,"processedDate":null,"completedDate":null,"expectedDate":"2017-02-06T00:00:00-08:00","cancelledDate":null,"returnedDate":null,"lastManualUpdateDate":"2017-01-30T08:55:38-08:00"}},"pricing":{"resourceLocation":null,"resource":{"shipping":0,"packaging":0,"insurance":0,"handling":0,"total":0}},"shipwireAnywhere":{"resourceLocation":null,"resource":{"status":null}},"pricingEstimate":{"resourceLocation":null,"resource":{"total":7.02,"insurance":0,"shipping":7.02,"packaging":0,"handling":0}},"freightSummary":{"resourceLocation":null,"resource":{"totalWeight":"0.00","weightUnit":null,"measurementType":null}},"splitOrders":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/splitOrders?offset=0&limit=20"},"pieces":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/pieces?offset=0&limit=20"}}}'
  recorded_at: Tue, 31 Jan 2017 14:33:48 GMT
[...]
- request:
    method: put
    uri: https://api.beta.shipwire.com/api/v3/orders/92297445
    body:
      encoding: UTF-8
      string: '{"orderId":1,"orderNo":"R184467494","options":{"currency":"USD","canSplit":1,"hold":0,"server":"Production"},"items":[],"shipTo":{"name":"John
        Doe","company":"Company","address1":"A Different Road","address2":"Northwest","city":"Herndon","state":null,"postalCode":"11126","country":"US","phone":"555-555-0199","email":"lelah@klein.ca"}}'
    headers:
      Authorization:
      - "<Authorization Code>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.290768'
      Content-Type:[...]
[...]
- request:
    method: get
    uri: https://api.beta.shipwire.com/api/v3/orders/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Bad request"}'
  recorded_at: Tue, 31 Jan 2017 14:56:48 GMT
- request:
    method: post
    uri: https://api.beta.shipwire.com/api/v3/orders
    body:
      encoding: UTF-8
      string: '{"orderId":1,"orderNo":"R760518351","options":{"currency":"USD","canSplit":1,"hold":0,"server":"Production"},"items":[{"sku":"SKU-6","quantity":1,"commercialInvoiceValue":"10.0","commercialInvoiceValueCurrency":"USD"}],"shipTo":{"name":"John
        Doe","company":"Company","address1":"10 Lovely Street","address2":"Northwest","city":"Herndon","state":null,"postalCode":"99331","country":"US","phone":"555-555-0199","email":"spree@example.com"}}'
    headers:
      Authorization:
      - "<Authorization Code>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.291271'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders?offset=0&limit=1","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92304734","resource":{"externalId":null,"orderNo":"R760518351","commerceName":"Shipwire","processAfterDate":"2000-01-01T00:00:00-08:00","lastUpdatedDate":"2017-01-31T06:56:49-08:00","status":"held","vendorId":null,"vendorExternalId":null,"purchaseOrderId":null,"purchaseOrderExternalId":null,"purchaseOrderNo":null,"id":92304734,"transactionId":"1485874609-502592-1","needsReview":0,"vendorName":null,"holds":{"reso[...]
[...]
