---
http_interactions:
- request:
    method: get
    uri: https://api.beta.shipwire.com/api/v3/orders/0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.135105'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/0","resource":{"externalId":null,"orderNo":"R505469234","commerceName":"Shipwire","processAfterDate":"2017-01-26T13:30:00-08:00","lastUpdatedDate":"2017-01-26T03:32:43-08:00","status":"held","vendorId":null,"vendorExternalId":null,"purchaseOrderId":null,"purchaseOrderExternalId":null,"purchaseOrderNo":null,"id":0,"transactionId":"1485430363-465421-1","needsReview":0,"vendorName":null,"holds":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/0\/holds?offset=0&limit=20"},"items":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/0\/items?offset=0&limit=20"},"trackings":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/0\/trackings?offset=0&limit=20"},"returns":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/0\/returns?offset=0&limit=20"},"options":{"resourceLocation":null,"resource":{"warehouseId":null,"warehouseExternalId":null,"warehouseRegion":null,"warehouseArea":null,"serviceLevelCode":null,"carrierCode":"USPS
        PMFPE","thirdPartyCarrierCodeRequested":null,"billingType":null,"carrierAccountNumber":null,"sameDay":"NOT
        REQUESTED","forceDuplicate":0,"forceAddress":0,"testOrder":0,"channelName":null,"referrer":""}},"shipFrom":{"resourceLocation":null,"resource":{"company":"Fulfillment
        Center"}},"shipTo":{"resourceLocation":null,"resource":{"email":"spree@example.com","name":"daniele
        palombo","company":null,"address1":"asdf","address2":"","address3":null,"city":"latina","state":"ME","postalCode":"04016","country":"US","phone":"333777777","isCommercial":0,"isPoBox":0}},"commercialInvoice":{"resourceLocation":null},"packingList":{"resourceLocation":null},"shippingLabel":{"resourceLocation":null},"routing":{"resourceLocation":null,"resource":{"warehouseId":12,"warehouseExternalId":null,"warehouseName":"Philadelphia","physicalWarehouseId":12,"originLongitude":40.06,"originLatitude":-76.41,"destinationLongitude":"-70.8917","destinationLatitude":"44.1810"}},"events":{"resourceLocation":null,"resource":{"createdDate":"2017-01-26T03:32:43-08:00","pickedUpDate":null,"submittedDate":null,"processedDate":null,"completedDate":null,"expectedDate":"2017-02-01T00:00:00-08:00","cancelledDate":null,"returnedDate":null,"lastManualUpdateDate":null}},"pricing":{"resourceLocation":null,"resource":{"shipping":0,"packaging":0,"insurance":0,"handling":0,"total":0}},"shipwireAnywhere":{"resourceLocation":null,"resource":{"status":null}},"pricingEstimate":{"resourceLocation":null,"resource":{"total":11.52,"insurance":4.5,"shipping":7.02,"packaging":0,"handling":0}},"freightSummary":{"resourceLocation":null,"resource":{"totalWeight":"0.00","weightUnit":null,"measurementType":null}},"splitOrders":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/0\/splitOrders?offset=0&limit=20"},"pieces":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/0\/pieces?offset=0&limit=20"}}}'
  recorded_at: Fri, 27 Jan 2017 11:24:58 GMT
recorded_with: VCR 3.0.3
