---
http_interactions:
- request:
    method: put
    uri: https://api.beta.shipwire.com/api/v3/orders/92511208
    body:
      encoding: UTF-8
      string: '{"orderId":1,"orderNo":"R795480473","options":{"currency":"USD","canSplit":1,"hold":0,"server":"Production"},"items":[],"shipTo":{"name":"John
        ","company":"Company","address1":"A Different Road","address2":"Northwest","city":"Herndon","state":null,"postalCode":"07835-1693","country":"US","phone":"555-555-0199","email":"nelson.buckridge@leschgrimes.name"}}'
    headers:
      Authorization:
      - "<Authorization Code>"
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Process-Time-Seconds:
      - '0.182008'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":422,"message":"Invalid data","errors":[{"type":"error","code":"orderSubmitFailed","message":"Order
        is either processed or cancelled and cannot be updated","orderNo":"R701547756","externalId":null,"id":92511208}],"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92511208","resource":{"externalId":null,"orderNo":"R701547756","commerceName":"Shipwire","processAfterDate":null,"lastUpdatedDate":"2017-06-05T06:51:50-07:00","status":"completed","vendorId":null,"vendorExternalId":null,"purchaseOrderId":null,"purchaseOrderExternalId":null,"purchaseOrderNo":null,"id":92511208,"transactionId":"1496670309-560024-1","needsReview":0,"vendorName":null,"holds":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92511208\/holds?offset=0&limit=20"},"items":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92511208\/items?offset=0&limit=20"},"trackings":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92511208\/trackings?offset=0&limit=20"},"returns":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92511208\/returns?offset=0&limit=20"},"options":{"resourceLocation":null,"resource":{"warehouseId":10294,"physicalWarehouseId":null,"warehouseExternalId":null,"warehouseRegion":"TEST1","warehouseArea":null,"serviceLevelCode":null,"carrierCode":"USPS
        PM","thirdPartyCarrierCodeRequested":null,"billingType":null,"carrierId":null,"carrierAccountNumber":null,"sameDay":"NOT
        REQUESTED","forceDuplicate":0,"forceAddress":0,"testOrder":0,"channelName":null,"localizationCode":null,"forceOverPack":null,"referrer":"","clearPreferenceHolds":null,"lastManualEditDate":null,"carrierType":null}},"shipFrom":{"resourceLocation":null,"resource":{"company":"Beta
        Shipwire"}},"shipTo":{"resourceLocation":null,"resource":{"email":"spree@example.com","name":"Paolo
        Tatone","company":null,"address1":"12311 185TH AVE SE","address2":null,"address3":null,"city":"BIG
        LAKE","state":"MN","postalCode":"55309","country":"US","phone":"2312312321","isCommercial":0,"isPoBox":0}},"commercialInvoice":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92511208\/commercialInvoice"},"packingList":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92511208\/packingList"},"shippingLabel":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92511208\/shippingLabel"},"routing":{"resourceLocation":null,"resource":{"warehouseId":10294,"warehouseExternalId":null,"warehouseName":"Test","physicalWarehouseId":null,"originLongitude":42.4081,"originLatitude":-83.0583,"destinationLongitude":"-93.7399","destinationLatitude":"45.3506"}},"events":{"resourceLocation":null,"resource":{"createdDate":"2017-06-05T06:45:09-07:00","pickedUpDate":null,"submittedDate":"2017-06-05T06:51:49-07:00","processedDate":"2017-06-05T06:51:49-07:00","completedDate":"2017-06-05T06:51:50-07:00","expectedSubmittedDate":"2017-06-05T06:51:49-07:00","expectedCompletedDate":"2017-06-05T06:51:50-07:00","expectedDate":"2017-06-08T00:00:00-07:00","cancelledDate":null,"returnedDate":null,"lastManualUpdateDate":null}},"pricing":{"resourceLocation":null,"resource":{"shipping":0,"packaging":0,"insurance":0,"handling":0,"total":0}},"shipwireAnywhere":{"resourceLocation":null,"resource":{"status":"Waiting
        Review"}},"pricingEstimate":{"resourceLocation":null,"resource":{"total":9.19,"insurance":0,"shipping":9.19,"packaging":0,"handling":0}},"freightSummary":{"resourceLocation":null,"resource":{"totalWeight":"0.00","weightUnit":null,"measurementType":null}},"splitOrders":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92511208\/splitOrders?offset=0&limit=20"},"pieces":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92511208\/pieces?offset=0&limit=20"},"extendedAttributes":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92511208\/extendedAttributes?offset=0&limit=20"}}}'
  recorded_at: Wed, 26 Jul 2017 10:36:25 GMT
[...]
- request:
    method: post
    uri: https://api.beta.shipwire.com/api/v3/returns
    body:
      encoding: UTF-8
      string: '{"originalOrder":{"id":92511208},"items":[{"sku":"F002-14","quantity":1}],"options":{"generatePrepaidLabel":1,"emailCustomer":1,"warehouseId":10294,"warehouseExternalId":null,"warehouseRegion":""}}'
    headers:
      Authorization:
      - "<Authorization Code>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.164895'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"message":"Successful","errors":[{"code":"returnSubmitFailed","id":92511208,"message":"You
        have already reported this issue.","type":"error"}],"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/returns?offset=0&limit=20","resource":{"offset":0,"total":0,"previous":null,"next":null,"items":[]}}'
  recorded_at: Wed, 26 Jul 2017 10:36:30 GMT
recorded_with: VCR 3.0.3
