---
http_interactions:
- request:
    method: put
    uri: https://api.beta.shipwire.com/api/v3/orders/92297445
    body:
      encoding: UTF-8
      string: '{"orderId":1,"orderNo":"R186508291","options":{"currency":"USD","canSplit":1,"hold":0,"server":"Production"},"items":[],"shipTo":{"name":"John
        ","company":"Company","address1":"A Different Road","address2":"Northwest","city":"Herndon","state":null,"postalCode":"43173","country":"US","phone":"555-555-0199","email":"roberta@huels.info"}}'
    headers:
      Authorization:
      - "<Authorization Code>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.550395'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445","resource":{"externalId":null,"orderNo":"R186508291","commerceName":"Shipwire","processAfterDate":"2017-03-22T13:30:00-07:00","lastUpdatedDate":"2017-01-30T08:55:38-08:00","status":"held","vendorId":null,"vendorExternalId":null,"purchaseOrderId":null,"purchaseOrderExternalId":null,"purchaseOrderNo":null,"id":92297445,"transactionId":"1485515242-405242-1","needsReview":0,"vendorName":null,"holds":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/holds?offset=0&limit=20"},"items":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/items?offset=0&limit=20"},"trackings":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/trackings?offset=0&limit=20"},"returns":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/returns?offset=0&limit=20"},"options":{"resourceLocation":null,"resource":{"warehouseId":null,"physicalWarehouseId":null,"warehouseExternalId":null,"warehouseRegion":null,"warehouseArea":null,"serviceLevelCode":null,"carrierCode":"USPS
        PMFPE","thirdPartyCarrierCodeRequested":null,"billingType":null,"carrierId":null,"carrierAccountNumber":null,"sameDay":"NOT
        REQUESTED","forceDuplicate":0,"forceAddress":0,"testOrder":0,"channelName":null,"localizationCode":null,"forceOverPack":null,"referrer":"","clearPreferenceHolds":null,"lastManualEditDate":"2017-01-30T08:55:38-08:00","carrierType":null}},"shipFrom":{"resourceLocation":null,"resource":{"company":"Fulfillment
        Center"}},"shipTo":{"resourceLocation":null,"resource":{"email":"roberta@huels.info","name":"John
        ","company":"Company","address1":"A Different Road","address2":"Northwest","address3":"","city":"Herndon","state":"OH","postalCode":"43173","country":"US","phone":"555-555-0199","isCommercial":0,"isPoBox":0}},"commercialInvoice":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/commercialInvoice"},"packingList":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/packingList"},"shippingLabel":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/shippingLabel"},"routing":{"resourceLocation":null,"resource":{"warehouseId":12,"warehouseExternalId":null,"warehouseName":"Philadelphia","physicalWarehouseId":12,"originLongitude":40.06,"originLatitude":-76.41,"destinationLongitude":"-75.1170","destinationLatitude":"39.8911"}},"events":{"resourceLocation":null,"resource":{"createdDate":"2017-01-27T03:07:22-08:00","pickedUpDate":null,"submittedDate":null,"processedDate":null,"completedDate":null,"expectedSubmittedDate":"2017-06-28T03:46:16-07:00","expectedCompletedDate":"2017-06-28T03:46:16-07:00","expectedDate":"2017-03-28T00:00:00-07:00","cancelledDate":null,"returnedDate":null,"lastManualUpdateDate":"2017-01-30T08:55:38-08:00"}},"pricing":{"resourceLocation":null,"resource":{"shipping":0,"packaging":0,"insurance":0,"handling":0,"total":0}},"shipwireAnywhere":{"resourceLocation":null,"resource":{"status":null}},"pricingEstimate":{"resourceLocation":null,"resource":{"total":7.48,"insurance":0,"shipping":7.48,"packaging":0,"handling":0}},"freightSummary":{"resourceLocation":null,"resource":{"totalWeight":"0.00","weightUnit":null,"measurementType":null}},"splitOrders":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/splitOrders?offset=0&limit=20"},"pieces":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/pieces?offset=0&limit=20"},"extendedAttributes":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/92297445\/extendedAttributes?offset=0&limit=20"}}}'
  recorded_at: Tue, 27 Jun 2017 10:46:16 GMT
[...]
