---
http_interactions:
- request:
    method: get
    uri: https://api.beta.shipwire.com/api/v3/products/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Bad request"}'
  recorded_at: Fri, 27 Jan 2017 10:32:55 GMT
- request:
    method: post
    uri: https://api.beta.shipwire.com/api/v3/products
    body:
      encoding: UTF-8
      string: '[{"sku":"test-random","classification":"baseProduct","description":"Product
        #1 - 6877","countryOfOrigin":"US","category":"FURNITURE_&_APPLIANCES","batteryConfiguration":"NOBATTERY","values":{"costValue":"19.99","retailValue":"19.99","costCurrency":"USD","retailCurrency":"USD"},"dimensions":{"length":1,"width":10,"height":1,"weight":1}}]'
    headers:
      Authorization:
      - "<Authorization Code>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.528568'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products?offset=0&limit=1","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/baseProducts\/236373","resource":{"id":236373,"externalId":null,"sku":"test-random","description":"Product
        #1 - 6877","hsCode":null,"countryOfOrigin":"US","creationDate":"2017-01-27T02:32:56-08:00","archivedDate":null,"status":"notinuse","storageConfiguration":"INDIVIDUAL_ITEM","batteryConfiguration":"NOBATTERY","classification":"baseProduct","category":"FURNITURE_&_APPLIANCES","itemCount":1,"vendorId":null,"vendorExternalId":null,"dimensions":{"resourceLocation":null},"values":{"resourceLocation":null},"alternateNames":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/baseProducts\/236373\/alternateNames?offset=0&limit=20"},"technicalData":{"resourceLocation":null},"flags":{"resourceLocation":null},"enqueuedDimensions":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/baseProducts\/236373\/enqueuedDimensions?offset=0&limit=20"},"innerPack":{"resourceLocation":null},"masterCase":{"resourceLocation":null},"pallet":{"resourceLocation":null}}}]}}'
  recorded_at: Fri, 27 Jan 2017 10:32:56 GMT
- request:
    method: get
    uri: https://api.beta.shipwire.com/api/v3/products/236373
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.179602'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.s[...]
