---
http_interactions:
- request:
    method: get
    uri: https://api.beta.shipwire.com/api/v3/products/0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.190657'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/baseProducts\/229059","resource":{"id":229059,"externalId":null,"sku":"SKU-2","description":"Product
        #1 - 9398","hsCode":null,"countryOfOrigin":"US","creationDate":"2016-11-07T05:09:33-08:00","archivedDate":null,"status":"notinuse","storageConfiguration":"INDIVIDUAL_ITEM","batteryConfiguration":"NOBATTERY","classification":"baseProduct","category":"FURNITURE_&_APPLIANCES","itemCount":1,"vendorId":null,"vendorExternalId":null,"dimensions":{"resourceLocation":null},"values":{"resourceLocation":null},"alternateNames":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/baseProducts\/229059\/alternateNames?offset=0&limit=20"},"technicalData":{"resourceLocation":null},"flags":{"resourceLocation":null},"enqueuedDimensions":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/baseProducts\/229059\/enqueuedDimensions?offset=0&limit=20"},"innerPack":{"resourceLocation":null},"masterCase":{"resourceLocation":null},"pallet":{"resourceLocation":null}}}'
  recorded_at: Mon, 07 Nov 2016 13:09:34 GMT
recorded_with: VCR 3.0.3
